**/*.tgz filter=lfs diff=lfs merge=lfs -binary
**/*.tar.gz filter=lfs diff=lfs merge=lfs -binary
**/*.tar filter=lfs diff=lfs merge=lfs -binary
**/*.zip filter=lfs diff=lfs merge=lfs -binary
**/*.pdf filter=lfs diff=lfs merge=lfs -binary
**/*.tar.bz2  filter=lfs diff=lfs merge=lfs -binary
**/*.tar.xz filter=lfs diff=lfs merge=lfs -binary
**/*.rpm filter=lfs diff=lfs merge=lfs -binary
**/*.mhtml filter=lfs diff=lfs merge=lfs -binary
**/*.mhtml filter=lfs diff=lfs merge=lfs -binary
**/*.exe filter=lfs diff=lfs merge=lfs -binary
**/*_offline.sh filter=lfs diff=lfs merge=lfs -binary
