MITgcm/pkgs/MITgcm-checkpoint68i.tar.gz filter=lfs diff=lfs merge=lfs -text
MITgcm/pkgs/MITgcm-checkpoint68n.tar.gz filter=lfs diff=lfs merge=lfs -text
MITgcm/pkgs/MITgcm-checkpoint68r.tar.gz filter=lfs diff=lfs merge=lfs -text
